/*
*
* Custom Fonts
*
*/


@font-face {
    font-family: 'Gilroy';
    src: url('../custom/fonts/Gilroy/Gilroy-Light.otf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F003;
}


@font-face {
    font-family: 'Roboto_Slab';
    src: url('../custom/fonts/Roboto_Slab/RobotoSlab-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F003;
}

/*
* Home slider
*/
#banner-slider-demo-7 > div.owl-controls > div.owl-dots{
  display: grid;
  position: absolute;
  right: 10px;
  margin-top: -25%;
}

#banner-slider-demo-7 > div.owl-controls > div.owl-dots .owl-dot  span{
  width: 10px;
  height: 10px;
}

/*
* Custom style
*/
.page-header .content,
.page-header{
  background: #2F2F2F;
}
.page-header .nav-sections{
  background: #fff;

}
.page-header .nav-sections li{
  text-align: left;
  font: Bold 20px/57px Gilroy;
  letter-spacing: 1px;
  color: #2F2F2F;
  opacity: 1;
}

.second-header{
  display: inline-flex;
  min-width: 100%;
  max-width: 100vw;
  background: #FFFFFF;
  justify-content: center;
}
.second-header .block-search{
  height: fit-content;

  margin-top:  .5%;
}
.page-header.type19 .second-header .block-search input{
  border-radius: unset;
}
.page-header.type19  .second-header .block-search .action.search{
  background: #DF606D 0% 0% no-repeat padding-box;
}
#banner-slider-demo-7 > div.owl-controls{
  bottom: -5px;
  left: -5px;
}

#banner-slider-demo-7 > div.owl-controls > div.owl-nav{
  float: left;
}

#banner-slider-demo-7 > div.owl-controls > div.owl-nav div{
  background: #ffffff52;
}

#banner-slider-demo-7 > div.owl-controls > div.owl-nav div:hover{
  background: #fff;
}
