/*
*
* Custom Fonts
*
*/


@font-face {
    font-family: 'Gilroy';
    src: url('../custom/fonts/Gilroy/Gilroy-Light.otf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F003;
}

@font-face {
    font-family: 'Rubik';
    src: url('../custom/fonts/Rubik/Rubik-Light.ttf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F003;
}


@font-face {
    font-family: 'Roboto_Slab';
    src: url('../custom/fonts/Roboto_Slab/RobotoSlab-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F003;
}

@font-face {
    font-family: 'Poppins';
    src: url('../custom/fonts/Poppins/Poppins-Black.ttf');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F003;
}

/*
* Home slider
*/
#banner-slider-demo-1 > div.owl-controls > div.owl-dots{
  display: grid;
  position: absolute;
  right: 10px;
  margin-top: -25%;
}

#banner-slider-demo-1 > div.owl-controls > div.owl-dots .owl-dot  span{
  width: 10px;
  height: 10px;
  border-radius: 0;

}

#banner-slider-demo-1 > div.owl-controls{
  bottom: -5px;
  left: -5px;
  top: unset;
  visibility: unset;
  opacity: 1;
}

#banner-slider-demo-1 > div.owl-controls > div.owl-nav{
  float: left;
  margin-left: 5px;
}

#banner-slider-demo-1 > div.owl-controls > div.owl-nav div{
  background: #0000004f;
  position: unset;
}

.owl-theme .owl-controls .owl-nav [class*=owl-] {
  margin: 5px 0;
  border-radius: 0;
}

#banner-slider-demo-1 > div.owl-controls > div.owl-nav div:hover{
  background: #000;
}
.porto-icon-chevron-right:before{
  content: url('../images/right-arrow.png');
}

.porto-icon-chevron-left:before{
  content: url('../images/left-arrow.png');
}

.porto-icon-chevron-right:before,
.porto-icon-chevron-left:before{
  width: fit-content;
  padding: 5px 25px;
}
.owl-top-narrow .owl-theme .owl-controls .owl-nav [class*=owl-] {
    margin: 0 -20px;
    margin-top: 70px;
  }

.main_addtion_product_bg .owl-top-narrow .owl-theme .owl-controls,
#featured_product  .owl-theme .owl-controls {
    position: inherit;
    right: 0;
    top: -320px;
    margin: 0;
}

.main_addtion_product_bg .owl-prev,
#featured_product .owl-prev {
  float: left;
}
.main_addtion_product_bg .owl-next,
#featured_product .owl-next{
  float: right;
}
.porto-icon-right-open-huge:before {
  content: url('../images/right-carousel-arrow.png') !important;
}
.porto-icon-left-open-huge:before {
  content: url('../images/left-carousel-arrow.png') !important;
}
/* Shporta */
.page-header.header-newskin .minicart-wrapper .action.showcart:before,
.page-header.header-newskin .minicart-wrapper .action.showcart.active:before{
    content: url('../images/shporta.png')
}
/*
* Custom style
*/
.page-header .content,
.page-header.type19{
  background: #2F2F2F !important;
}

.page-header .nav-sections{
  background: #fff;
}

.page-header.type19.sticky-header .nav-sections{
    color: #2F2F2F !important;
    font-weight: 600;
}

.page-header .nav-sections li{
  text-align: left;
  font: Bold 20px/57px Gilroy;
  letter-spacing: 1px;
  color: #2F2F2F;
  opacity: 1;
}

.second-header{
  display: inline-flex;
  min-width: 100%;
  max-width: 100vw;
  background: #FFFFFF;
  justify-content: space-evenly;
}
body > div.page-wrapper > header > div.second-header > div.sections.nav-sections{
  box-shadow: none;
}
.second-header .block-search{
  height: fit-content;
  margin-top:  .5%;
}
.page-header.type19 .second-header .block-search input{
  border-radius: unset;
}
.page-header.type19  .second-header .block-search .action.search{
  background: #DF606D 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-right: -2px;
}
.page-header.type19  .second-header .block-search .action.search:before {
  color: #fff !important;
  font-size: 20px !important;
}

.header.links li a,
.header.links li{
  font-size: 15px;
  letter-spacing: 1px;
  color: #ffffff !important ;
  font-family: "Gilroy";
  font-weight: bold;
  border: none !important;
}

/*
*Contact us block
*/

.contact-us-block{
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}

.contact-us-block div.col-lg-6:first-child{
  border-right: 1px solid #DDDDDD;
}

.contact-us-block div.col-lg-6{
  display: grid;
  padding: 50px 15px;
}

.contact-us-block h1{
  text-align: left;
  font: 40px Gilroy;
  letter-spacing: 0;
  color: #DF606D;
  font-weight: 600;
  margin: 0;
}

.contact-us-block h2{
  text-align: left;
  font: Italic 24px Gilroy;
  letter-spacing: 0;
  color: #6E6E6E;
  font-weight: 600;
  margin: 0;
}

.contact-us-block p {
  text-align: left;
  font:18px Gilroy;
  letter-spacing: 0;
  color: #6E6E6E;
  line-height: 20px;
  font-weight: 600;
}

.contact-us-block div.primary{
  width: 100%;
}

.contact-us-block button.primary{
  background: #DF606D;
  width: 100% !important;
  font: 20px Gilroy;
  letter-spacing: 0;
  color: #FFFFFF;
  border: none;
  font-weight: 600;
  text-align: center;
}

.contact-us-block input,
.contact-us-block textarea{
  background: #f4f4f4;
  border: none;

}

.contact-us-block input::placeholder,
.contact-us-block textarea::placeholder{
  font: 16px Gilroy;
  font-weight: 600;
  letter-spacing: 0;
  color: #848484;
  opacity: 0.8;
}

.block-content .links a{
  color:#777;
}


.social-buttons a:hover{
  text-decoration: none;
}

.social-buttons a{
  color: #9f9f9f;
  font-size: 25px;
}


/*
* Post grid
*/
#maincontent .products-grid:not(.side-list) .product-item .product-item-info .product.name a {
  font: 20px Gilroy;
  letter-spacing: 1px;
  color: #4E4E4E;
}
.product-item-details .price-box .price{
  font: 20px Gilroy;
  letter-spacing: 0;
  color: #DF606D;
  font-weight: 600;
}


/* Aeditions rekomandon */

.filterproduct-title{
  font-size: 26px;
  line-height: 38px;
  color: #848484;
  font-family: "Gilroy";
  font-weight: bold;
  background: none;
  text-align: center;
}

.filterproduct-title span.content strong::before,
.filterproduct-title span.content strong::after{
  position: absolute;
  content: url('../images/hl.png');
  max-width: calc(100%/3);
  overflow: hidden;
  top: -1%;
}
.filterproduct-title span.content strong::before{
  float: left;
  left: 0;
}
.filterproduct-title span.content strong::after{
  float: right;
  right: 0;
}


/*Login */

.customer-account-login .login-container{
    background: rgba(0,0,0,0) url(../images/LOGOINI_01.png) repeat-y scroll 0 0/100% auto;
    border: medium;
    float: left;
    padding: 140px;
    width: 100%;
}
.customer-account-login .block-customer-login{
    background-color: #fff;
    float: left;
    max-height: 400px;
    padding: 40px 0;
    width: 40% !important;
    border-right: 15px solid #f1f0ee;
}

.logo-login{
    margin: 0 auto 8px;
    max-width: 40%;
    text-align: center;
    width: 100%;
}

#login-form .field.required {
    margin: 10px 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#login-form .control .input-text {
    border-radius: 0;
    border-style: none none solid;
    border-width: 0 0 1px;
    padding: 0;
}

#login-form .email .control .input-text {
    background: transparent url(../images/Email_icon_login.png) no-repeat scroll right center!important;
}

#login-form .password .control .input-text {
    background: transparent url(../images/password_icon_login.png) no-repeat scroll right center!important;
}

#login-form .actions-toolbar .primary{
    display: inline-block;
    float: none;
    margin: 10px 0 0;
    text-align: center;
    background: #dc3849 none repeat scroll 0 0;
    border: medium;
    padding: 0;
    border-radius: 50px;
    padding: 0 35px;
}

.login-image{
  float: right;
  width: 60%;
  margin-top: -10px;
}

.login-image img{
  max-height: 422px;
  width: 100%;
}

.login-container .fieldset:after{
  display: none;
}
.login-container .actions-toolbar{
  text-align: center;
}

/* Register */
.customer-account-create .column.main h1{
  font-family: rubik,sans-serif;
  color: #2f2f2f;
  font-weight: 500;
  line-height: 1.1;
  font-size: 20px;
}

.form-create-account{
  border-radius: 10px;
  border:none !important;
  background: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,.08);
}

.form-create-account .legend{
  color: #d03847;
}
.form-create-account .action.primary{
    background: #dc3849 none repeat scroll 0 0;
    border: medium;
    border-radius: 50px;
    padding: 0 35px;
}



/*Nav top bar*/
.page-header.type19 .navigation .level0 > .level-top{
    font-size: 20px !important;
    letter-spacing: 1px !important;
    line-height: 57px !important;
    color: #2f2f2f !important;
    font-family: "Gilroy" !important;
    font-weight: bold !important;
}

/*Libra subcategories homepage block*/

.libra-sub{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.libra-sub .col-2{
  padding: 0 40px;
}

.libra-sub .col-2:not(:last-child)::after{
  content: '';
  position: absolute;
  width: 2px;
  height: 78px;
  background-color: #e5e5e5;
  right: 0;
  top: 10px;
}

.libra-sub h4,
.libra-sub a{
  font-size: 20px;
  line-height: 19px;
  color: #868090;
  font-family: "Gilroy";
  font-weight: bold;
  text-decoration: none;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.libra-sub img{
  height: 80px;
}

/*Sitemap*/

.sitemap_main_bg {
  float: left;
  margin: 0px;
  padding: 30px 0;
  width: 100%;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.sitemap_title_bg {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.cms-site-map .page-main .page-title-wrapper .page-title {
  color: #2f2f2f;
  font-size: 20px;
  margin: 0 0 15px;
}

.sitemap_main_bg .sitelist {
  list-style: none;
}

.sitemap_main_bg .sitelist ul {
  list-style: none;
  padding: 0px;
  margin: 0px !important;
}

.sitemap_main_bg .sitelist .sitemap-list {
  float: none;
  display: inline-block;
  margin: 0px;
  padding: 0 15px;
  width: 25%;
}

.sitemap_main_bg .sitelist .sitemap-list .sitemap-list {
  float: none;
  display: inline-block;
  margin: 0px;
  padding: 0 15px;
  width: 100%;
}

.sitemap_main_bg .sitelist a {
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 5px;
  color: #d03847;
}

.sitemap_main_bg .sitelist a:hover {
  color: #da8f40;
}

.sitemap_main_bg .sitelist h3 {
  margin: 0px 0 15px;
}

.cms-site-map #maincontent {
  padding: 0px;
}

.block.review-add {
  float: left;
  width: 100%;
}

/*Minicart*/

.minicart-wrapper .block-minicart{
  border-top: 6px solid #d03847;
  color: #777;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
  padding: 25px 18px;
}
.block-minicart .items-total {
    float: right;
    margin-top: 20px;
}
.block-minicart .block-content>.actions>.primary .action.primary {
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    background: #dc3849 none repeat scroll 0 0;
    border: medium;
    border-radius: 50px;
}
.minicart-items .action.edit:before,
.minicart-items .action.delete:before,
.block-minicart .block-content>.actions>.secondary .action.viewcart span{
    color: #dc3849;
}
/*view cart*/

.checkout-cart-index .cart-container {
    float: left;
    width: 100%;
  }
  .columns {
    display: inline-block;
    width: 100%;
  }
  .checkout-cart-index .page-main {
    padding: 0 15px 30px;
  }
  #cart-totals.cart-totals tbody th {
    padding: 13px 15px;
    font-size: 14px;
  }
  #cart-totals.cart-totals tbody td {
    padding: 13px 15px;
    font-size: 14px;
  }
  .cart.table-wrapper .product-item-name>a {
    font-size: 15px;
  }
  .cart.item .field.qty label.label {
    font-size: 12px;
    margin: 9px 15px 0 0;
  }
  .cart.item .qty.field .qty_main_bg_cr .control .input-text.qty {
    width: 60px;
  }
  .cart.item .product-item-details {
    padding: 0px;
  }
  .cart.table-wrapper .product-item-name {
    margin: 0px;
  }
  .cart-totals {
    padding-left: 0;
    padding-right: 0;
  }
  .cart.table-wrapper .cart tbody td.price .cart-price .price {
    font-size: 14px;
  }
  .cart.table-wrapper .cart tbody td:before {
    display: none !important;
  }
  .cart.table-wrapper .col.price {
    float: left;
    width: 100% !important;
    padding: 13px 15px !important;
  }
  .cart-summary {
    float: left;
    padding: 10px 0;
    width: 100%;
  }
  .checkout-cart-index .page-main>.page-title-wrapper .page-title {
    float: left;
  }
  .checkout-cart-index .page-title-wrapper {
    padding: 0px;
  }
  .opc-estimated-wrapper {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #cccccc !important;
    border-radius: 8px;
    margin: 0 0 15px;
    padding: 18px 15px;
  }
  .opc-estimated-wrapper .minicart-wrapper button.action.showcart {
    background: #2f2f2f url("../images/cart_icon.png") no-repeat scroll right center;
    border: 1px solid #666666;
    border-radius: 30px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 33px;
    padding: 0 59px 0 0px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .opc-estimated-wrapper .minicart-wrapper button.action.showcart:hover {
    background: #ca3849 url("../images/cart_icon_active.png") no-repeat scroll right center;
    border: 1px solid #da394c;
  }
  .opc-wrapper .methods-shipping {
    background: #ffffff;
  }
  #checkout-shipping-method-load {
    overflow: auto;
  }
  .opc-wrapper .form-login,
  .opc-wrapper .form-shipping-address,
  .opc-wrapper .methods-shipping {
    padding-left: 0px;
    padding-right: 0px;
    background: #ffffff;
  }