.catalog-product-view.page-layout-2columns-right:not(.weltpixel-quickview-catalog-product-view) a.right-side-open{
	display: none !important;
}

#maincontent > div.columns > div > div:nth-child(7) > div > div > div:nth-child(2) > a:nth-child(2){
	margin-left: -20px;
}

#maincontent > div.columns > div > div:nth-child(7) > div > div > div:nth-child(1) > a:nth-child(2){
	margin-left: -15px;	
}

@media (min-width: 1200px) { 

}


@media (max-width: 992px) { 
	.page-main{
		max-width: 100% !important; 
	}
	
}

@media (max-width: 992px) {
	.libra-sub .row{
		justify-content: space-evenly;
	}
	.libra-sub .col-2{
		max-width: 33.3%;
		width: 100%;
	}
	.banner.collection p,
	.banner.collection button{
		font-size: 25px;
	}
	.banner.sales p{
		font-size: 30px;
		margin-left: -120px;
	}	

}



@media (max-width: 768px) { 
	.page-main,
	.container{
		max-width: 100% !important; 
	}

}

@media (max-width: 768px) {
	.banner{
		flex-flow: column;
	}
	.banner.sales span img.altoporlant {
	    left: unset; 
	    top: 20px;
	    height: 70px;
	}
	.banner.sales p {
	    font: 25px Poppins;
	    margin-left: unset;
	    margin-right: -85px;
	}
    .banner p{
		font-size: 25px!important;
	}
	.banner.sales p{
		margin-left: -20px;
	}	
	.banner.sales p span {
		font-size: 30px;
	}
}


@media (max-width: 576px) { 
	.page-main,
	.container{
		max-width: 100% !important; 
	}	

	.libra-sub .col-2 {
		max-width: 66%;
		flex: 0 0 60%;
	}

	.libra-sub .col-2:not(:last-child)::after {
		display: none;
	}

	.banner p {
	    font-size: 18px!important;
	}

	.banner p span {
		font-size: 25px !important;
	}

	#bestsellers .col-6{
		flex: 0 0 100% !important;
		max-width: 100%;
	}

	#tabs{
		text-align: start;
	}

	#bestsellers button{
		line-height: 30px !important;
	}

	.banner.sales span img.lines {
	    bottom: -120px;
	}
	.banner.sales .vectors img.wc {
	    left: unset; 
	    right: 15px;
	    bottom: -40px;
	}
	.banner.sales .vectors img.hc {
	    left: unset; 
	    right: 110px;
	    bottom: -5px;
	}
	
	.banner.sales .vectors img.dl {
	    left: unset;
	    top: 45px;
	    right: 45px;
	}

	.banner.sales .vectors img.bf-hc {
	    left: 25px;
	    top: 5px;
	}

	.recent-posts span {
	    bottom: -5% !important;
	    left: 0% !important;
	}

	.first_blog_post .card{
		box-shadow: unset !important;
	    transform: unset !important;
		transition: unset !important;
	}

	.first_blog_post .card-title{
	    padding: unset !important;
	}

	.first_blog_post .card-header{
		transform: unset !important;
		transition: unset !important;
	}

	.first_blog_post .card-body{
		transform: unset !important;
		transition: unset !important;
	}
	.banner.top-footer p {
		line-height: 30px;
	}
}

/*@media (max-width: 576px) { 	
	.second-header{
		display: none !important;
	}
}*/
