<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Widget\Controller\Adminhtml\Widget\Instance\Save">
        <plugin name="Atniqi_Products_Widget_Slider_Plugin_Validate_Save" type="Atniqi\ProductsWidgetSlider\Model\Plugin\Save" />
    </type>
    <preference for="Magento\Catalog\Model\ResourceModel\Product\Collection" type="Atniqi\ProductsWidgetSlider\Model\ResourceModel\Collection" />
    <type name="Atniqi\ProductsWidgetSlider\Block\GetData">
        <arguments>
            <argument name="priceCurrencyInterface" xsi:type="object">Magento\Framework\Pricing\PriceCurrencyInterface\Proxy</argument>
        </arguments>
    </type>
</config>
