.banner{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  height: 120px;

  button{
    border: 1px solid #ffffff47;
    background: none;
    box-shadow: none;
    color: #DDC08B;
    font: 40px Gilroy;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px 20px;
    font-weight: 600;
  }

  p{
    text-align: left;
    font:  45px Gilroy;
    letter-spacing: 0;
    color: #FFFFFF;
    align-self: center;
    span{
      color: #DDC08B;
      letter-spacing: 0;
      font: 50px Roboto_Slab;
      align-self: center;
    }
  }

  &.collection{
    background: #DF606D;


  }

  &.sales{
    background: #E9465B;
  }
}
