.page-title-wrapper{
  height: auto;
  background: url(../images/shadow.jpg) repeat-x scroll center bottom;
  padding: 30px 10px;
  margin-bottom: 30px;

  .page-title{
    font-size: 33px;
    font-weight: 300;
    color: #807876;
    font-family: rubik,sans-serif;
    line-height: 1.1;
  }
}
.price-wrapper{

  .price{
    font-family: rubik;
    font-size: 39px;
    letter-spacing: 1.4px;
    color: #e69b40;
    font-weight: 400;
  }
}


.product-info-main {
  .product.attribute.overview {
    .value {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: .4px;
      color: #333;
      
    }
  }
}
